/**
 * Neue Haas Grotesk Display Pro
 */

@font-face {
    font-family: "druk";
    src: url("@/assets/fonts/druk.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "quicksand";
    src: url("@/assets/fonts/quicksand.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "space-grotesk";
    src: url("@/assets/fonts/space-grotesk.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
