/**
 * Disable button
 */
%u-disable-button {
    appearance: none;
    box-shadow: none;
    outline: none;
}

@for $i from 1 to 3 {
    .u-btn--$(i) {
        @extend %u-disable-button;
        cursor: pointer;
        user-select: none;
        width: fit-content;
    }
}

/**
 * Primary button
 */
.u-btn--1 {
    display: flex;
    align-items: center;
    background: var(--color--1);
    color: var(--color--2);
    height: 30px;

    .btn_label {
        align-items: center;
        display: inline-flex;
        flex: 1 1 auto;
        font-family: var(--family--3);
        font-size: 13px / 1em;
        font-weight: 400;
        justify-content: center;
        letter-spacing: 1px;
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
    }

    /* Hover */
    @media (hover) {
        &:hover {
            background-color: var(--color--3);
            .btn_label {
                color: var(--color--1);
            }
        }
    }
}

.u-btn--2 {
    position: relative;
    overflow: hidden;

    .btn_label {
        font-size: responsive 14px 14px;
        font-range: 420px 1440px;
        font-weight: 500;
        transition: transform 0.3s;
        display: inline-block;
    }

    .btn_label_up {
        position: absolute;
        left: 0;
        font-size: responsive 14px 14px;
        font-range: 420px 1440px;
        font-weight: 500;
        transform: translateY(-200%);
        transition: transform 0.3s;
    }

    @media (hover) {
        &:hover {
            .btn_label {
                transform: translateY(200%);
            }
            .btn_label_up {
                transform: translateY(0);
            }
        }
    }
}

.u-btn--3 {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 10px;

    .btn_label {
        font-size: responsive 14px 15px;
        font-range: 420px 1440px;
        font-weight: 500;
        border: 1px solid var(--color--3);
        border-radius: 81px;
        padding: 8px 16px;
        text-transform: uppercase;
        display: inline-block;
    }

    .btn_arrow {
        background-color: var(--color--3);
        border-radius: 50%;
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: width 0.3s ease, height 0.3s ease;

        .arrow_image {
            width: 12px;
            height: 12px;
            object-fit: cover;
            transition: width 0.3s ease, height 0.3s ease;
        }
    }

    .btn_arrow_before {
        background-color: var(--color--3);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0;
        height: 0;
        transition: width 0.3s ease, height 0.3s ease;

        .arrow_image {
            object-fit: cover;
            transform: rotate(-45deg);
            width: 0;
            height: 0;
            transition: width 0.3s ease, height 0.3s ease;
        }
    }

    &.is_black {
        .btn_arrow_before {
            background-color: var(--color--2);
            .arrow_image {
                filter: invert(1);
            }
        }

        .btn_arrow {
            background-color: var(--color--2);

            .arrow_image {
                filter: invert(1);
            }
        }

        .btn_label {
            border: 1px solid var(--color--2);
            color: var(--color--2);
        }
    }

    @media (hover) {
        &:hover {
            .btn_arrow {
                width: 0;
                height: 0;

                .arrow_image {
                    width: 0;
                    height: 0;
                }
            }

            .btn_arrow_before {
                width: 34px;
                height: 34px;

                .arrow_image {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}
